= simple_form_for @zoo, html: { class: 'form-horizontal' }, defaults: { label: false } do |f|
  .form-group
    %label.col-sm-3.control-label= t 'simple_form.labels.zoo.name'
    .col-sm-7
      = f.input :name, input_html: { class: 'form-control' }
  .form-group
    %label.col-sm-3.control-label= t 'simple_form.labels.zoo.description'
    .col-sm-7
      = f.input :description, input_html: { class: 'form-control' }
  .form-group
    .col-sm-offset-3.col-sm-7
      = f.submit 'Create', class: 'btn btn-primary'
