.well
  .row
    .col-sm-5
      = image_tag @zoo.image.display.url, alt: 'Zoo', class: 'image-detail'
    .col-sm-7
      %h2= @zoo.name

      .row
        .col-sm-3= t 'simple_form.labels.zoo.description'
        .col-sm-4= @zoo.description
      .row
        .col-sm-6= t 'simple_form.labels.zoo.breed_count', count: @zoo.breeds_quantity

= render 'zoos/partials/animals'

= render 'zoos/partials/modal'