.well-lg
  %table.table.table-bordered
    %thead
      %tr
        %th= t 'simple_form.labels.animal.name'
        %th= t 'simple_form.labels.animal.breed'
        %th= t 'simple_form.labels.animal.description'
    %tbody
      - @zoo.animals.by_breed.each do |animal|
        %tr
          %td= animal.name
          %td= animal.breed_name
          %td= animal.description