!!!

%html
  %head
    %title HelloZoo
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      %h2= link_to 'Zoos of the World', root_path

    = render 'shared/flashes'

    #body-content
      = yield

    %footer
      hello zoo inc
